* {
  margin: 0 auto;
  padding: 0rem;
}

.sign-up {
  position: relative;
  top: 9vh;
}

.text-input input {
  width: 24.4vw;
  height: 5vh;
  background-color: #292929;
  color: #7C7C7C;
  padding-left: 0.3vw;
  border: none;
  border-radius: 0.3rem;
}

.error-active input {
  width: 24.4vw;
  height: 5vh;
  background-color: #292929;
  color: #7C7C7C;
  padding-left: 0.3vw;
  border: 0.1rem solid red;
  border-radius: 0.3rem;
}